* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: work;
  src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
  font-family: fjalla;
  src: url(./fonts/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: didact;
  src: url(./fonts/DidactGothic-Regular.ttf);
}
/*img {
    max-width: 100%;
  } */

header {
  background-color: white;
  /* height: 826px; */
  /* width: 700px; */
  text-align: center;
  margin: 20px auto 20px auto;
  font-family: work, sans-serif;
}
.firstline {
  font-size: 20px;
  font-weight: 400;
  /* geschätzt margin */
  margin-bottom: 70px;
}

.headline {
  font-family: didact, sans-serif;
  font-size: 160px;
  font-weight: 400;
}
.designer {
  margin-bottom: 60px;
}
h2 {
  font-size: 160px;
  font-weight: 400;
  margin-top: 118px;
}
/* maria: selktieren h3 und a + rollr oder tretto für color */

/* ab hier beginnt die 1.section */
.orbis {
  background-image: url(../assets/img/handshake.jpg);
  background-repeat: no-repeat;
  /*overflow: hidden; */
  background-size: cover;
  background-attachment: fixed;
  height: 826px;
}
section p {
  margin-bottom: 20px; /* margin geschätzt */
}
section {
  text-align: left;
  color: #9e9e9e;
}
section > * {
  margin-left: 220px;
}
.year {
  font-size: 20px;
  font-weight: 400;
  padding-top: 150px;
  margin-bottom: 40px; /*geschätzt*/
}
h3 {
  font-size: 112px;
  color: white;
  margin-bottom: 40px;
}
.description {
  margin-bottom: 120px; /*geschätzt*/
}
a {
  padding: 16px 20px;
  text-decoration: none;
  font-size: 16px;
}
.white {
  color: white;
}
.black {
  color: black;
}

a .white {
  color: white;
  border: 2px solid white;
}
a .black {
  color: black;
  border: 2px solid black;
}
.number {
  font-size: 165px;
  font-family: fjalla, sans-serif;
  margin: 0 200px 0 auto;
  width: 200px;
}
.rollr {
  background-image: url(../assets/img/rollr.png);
  background-repeat: no-repeat;
  /*overflow: hidden; */
  background-size: cover;
  background-attachment: fixed;
  height: 826px;
}
.galitos {
  background-image: url(../assets/img/galitos.jpg);
  background-repeat: no-repeat;
  /*overflow: hidden; */
  background-size: cover;
  background-attachment: fixed;
  height: 826px;
}
.tretto {
  background-image: url(../assets/img/tretto.png);
  background-repeat: no-repeat;
  /*overflow: hidden; */
  background-size: cover;
  background-attachment: fixed;
  height: 826px;
}
/* colors of h3, a and number + hover effekt */
/* .black {
  color: black;
}
.white {
  color: white;
} */
/* what more + footer */
.whatmore {
  font-family: work, sans-serif;
  font-weight: 400;
  height: 931px;
  background-color: black;
  color: white;
}
.what {
  font-size: 180px;
  padding-top: 130px;
  margin-bottom: 150px;
}
.statement {
  color: #666666;
  line-height: 25px;
  margin-left: 30%;
  margin-bottom: 70px;
  width: 500px;
}
.email {
  font-size: 60px;
  margin-left: 30%;
}
.links {
  font-family: didact, sans-serif;
  font-weight: 400;
  font-size: 160px;
  color: black;
  text-align: center;
  line-height: 330px;
  padding-top: 230px;
  margin-left: 30%;
  width: 702px;
  height: 1160px;
}
